

.spinnaker-regular {
  font-family: "Spinnaker", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.box {
  border: 0px solid purple;
  padding: 10px;
  width: 75%;
  height: 25%;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  color: #3c3c3c;
  background: #ECCEF0;
  z-index: 4;
}

.mainbox {
  padding: 15px;
  width: 90%;
  height: 70%;
  width: 75%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.9);
  z-index: 2;
  position: relative;
  bottom: -100vh;
}

.intro {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.8;
  font-size: 18px;
  color: #3c3c3c;
  z-index: 3;
  padding: 0px;

}


h1 {
  color: #bf76e0; /* A shade of pink */
  text-align: center;
  font-size:75px;
  height: 75vh;
  position: sticky;
  top: 0;
  font-family: "Georgia", Times, serif;
  text-shadow: 0 0 38px #E7B9F0, 0 0 15px #F9EDFA, 2px 2px 2px black;
}


  body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Spinnaker", sans-serif;
  }

  .body-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("GT poster.jpg");
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    z-index: -1; /* Make sure the background stays behind other content */
    alt="Ghosts' Town cover art. Stu Parker,
  Zeke Arthurs, Valorie Thorne, and Guy Gough stand on a bluff overlooking Tiskwat lake"
  }






